<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:image" content="https://mineforhouston.com/assets/landing-image.jpg" >

    <title>Mine for Houston</title>

    <!-- Styles -->
    <link href="assets/css/app.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.ico">
  </head>

  <body class="sticky-nav transparent-nav">

    <!-- Navigation -->
    <nav class="navbar">
      <div class="container">
        <div class="logo">
          <!-- <a class="logo-default" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
          <!-- <a class="logo-transparent" href="index.html"><img src="assets/img/logo-alt.png" alt="logo"></a> -->
        </div>

        <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>

        <ul class="nav-menu">
          <li><a class="active" href="#about">About Us</a></li>
          <li><a class="active" href="#getstarted">Get Started</a></li>
          <!-- <li><a href="http://shamsoft.net/thesplash/doc">About Us</a></li> -->
          <!-- <li><a href="http://themeforest.net/item/thesplash-template-landing-page/14375892/comments">Support</a></li> -->
          <!-- <li> -->
            <!-- <a href="#">Submenu</a> -->
            <!-- <ul> -->
              <!-- <li><a href="#">Link</a></li> -->
              <!-- <li><a href="#">Subitem</a></li> -->
              <!-- <li><a href="#">Another link</a></li> -->
            </ul>
          <!-- </li> -->
          <!-- <li><a class="menu-highlighted" href="http://themeforest.net/item/thesplash-template-landing-page/14375892?ref=shamsoft">Help Now</a></li> -->
        <!-- </ul> -->
      </div>
    </nav>
    <!-- END Navigation -->

    <!-- Site header -->
    <header class="site-header color-alt overlay-black size-full text-center" style="background-image: url(assets/landing-image.jpg)">
      <div class="container">
        <h1><strong>Mine</strong> for <strong>Houston</strong></h1>
        <h4>Help Hurricane Harvey Victims with your Computer</h4>
        <h5><strong><%=workers+32%></strong> Virtual Volunteers have raised  <strong>$<%= amountRaised +400%></strong> for the American Red Cross</h5>
        <br><br><br>
        <h6>Download the Client and Volunteer your Computer Now</h6>
        <a class="btn btn-lg btn-white btn-outline btn-round" href="#demos"><span style="padding: 0 30px;">Get Started!</span></a>
        <a class="btn btn-lg btn-white btn-outline btn-round" href="#demos"><span style="padding: 0 30px;">How It Works</span></a>
      </div>
    </header>
    <!-- END Site header -->


    <!-- Main container -->
    <main>

      <section class="section-sm no-border-bottom overlay-black" style="background-image: url(assets/img/bg-counter.jpg)">
        <div class="container">

          <div class="row">
            <div class="counter color-alt col-md-3 col-sm-6">
              <i class="ti-face-smile"></i>
              <p><span data-from="0" data-to="36">0</span>+</p>
              <h6>Active miners</h6>
            </div>

            <div class="counter color-alt col-md-3 col-sm-6">
              <i class="ti-server"></i>
              <p><span data-from="0" data-to="403" data-speed="2200">0</span>+</p>
              <h6>Dollars earned for Houston</h6>
            </div>

             <div class="counter color-alt col-md-3 col-sm-6">
               <i class="ti-user"></i>
               <p><span data-from="0" data-to="2" data-speed="10">0</span></p> 
               <h6>Friends</h6> 
             </div> 

            <div class="counter color-alt col-md-3 col-sm-6">
              <i class="ti-desktop"></i>
              <p><span data-from="0" data-to="2000" data-speed="3000">0</span>+</p>
              <h6>Donated computer hours</h6>
            </div>
          </div>


        </div>
      </section>



      <section id="getstarted" class="no-border-bottom">
        <div class="container">
          <header class="section-header">
            <h2><strong>How it works</strong></h2>
            <p>Your computer earns money for charity! It's an easy 3 steps. 
              <br></br>
              <strong>Step 1</strong>: Download and install <a href="https://miner.nicehash.com/installer/windows/setup/nhm_setup_2.0.1.0.exe">this</a> app
              <br></br>
              <strong>Step 2</strong>: Once installed, click "wallet" and copy/paste: <br></br>
              <span style="font-size: 22px; color: black"><strong>1JXgDGGwW7CjeFLtpKZ37aoMAMHt8zZcRP</strong></span><br>
              into the box
              <br></br>
              <strong>Step 3</strong>: Press <strong>start</strong>! All earnings will be donated to the <a target="_blank" href="http://redcross.org">American Red Cross for Hurricane Harvey relief.</a>
            </p>
              
          </header>

          <div class="filter-demo">
            <!-- <button class="btn active">All</button> -->
            <!-- <button class="btn" data-group="blog">Blog</button> -->
            <!-- <button class="btn" data-group="onepage">One page</button> -->
            <!-- <button class="btn" data-group="portfolio">Portfolio</button> -->
            <!-- <button class="btn" data-group="shop">Shop</button> -->
          </div>

          <br><br>

          <ul class="demos filterable-demo">
            <!-- <li data-groups="blog"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo1.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <!-- <li data-groups="onepage"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo2.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <li data-groups="portfolio,blog">
              <a href="#" target="_blank">
                <img class="img-fade img-bordered" src="assets/img/demo3.png" alt="screenshot">
              </a>
            </li>

            <!-- <li data-groups="shop,blog"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo4.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <li data-groups="portfolio">
              <a href="#" target="_blank">
                <img class="img-fade img-bordered" src="assets/img/demo5.png" alt="screenshot">
              </a>
            </li>

            <!-- <li data-groups="onepage,blog"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo6.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <!-- <li data-groups="shop"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo7.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <!-- <li data-groups="blog,shop"> -->
              <!-- <a href="#" target="_blank"> -->
                <!-- <img class="img-fade img-bordered" src="assets/img/demo8.png" alt="screenshot"> -->
              <!-- </a> -->
            <!-- </li> -->

            <li data-groups="portfolio,onepage">
              <a href="#" target="_blank">
                <img class="img-fade img-bordered" src="assets/img/demo9.png" alt="screenshot">
              </a>
            </li>
          </ul>


        </div>
      </section>

      <section id="about" class="no-border-bottom">
          <div class="container">
  
            <div class="row">
  
              <div class="col-sm-6 content-center">
                <img src="assets/img/feature-2.jpg" alt="img">
              </div>
  
              <div class="col-sm-6 content-center">
                <header class="section-header text-left">
                  <h2>About Us</h2>
                  <p><a href ="http://stevenedouard.com">Steven</a> and <a href="https://www.linkedin.com/in/christopher-spears-a395011a">Christopher</a> are professional software and mechanical engineers from Florida. We've been through many hurricanes, but none have shocked us as much as Hurricane Harvey. We are bitcoin enthusiasts and want to enable anyone to contribute to Hurricane Harvey relief. 100% of funds generated will go to the <a href="http://www.redcross.org/">American Red Cross</a>. 
                    <br></br>
                    If you have any questions or need any help, please contact us at <a href="mailto:support@mineforhouston.com">support@mineforhouston.com</a>
                  </p>
                </header>
              </div>
  
            </div>
  
          </div>
        </section>






    </main>
    <!-- END Main container -->


    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-md-8 col-sm-6 col-xs-12">
            <ul class="footer-links">
              <li><a href="#">About us</a></li>
            </ul>
          </div>

        </div>

        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyrights &copy; 2017 <a href="https://www.linkedin.com/in/christopher-spears-a395011a">Chris Spears</a> and <a href="http://stevenedouard.com">Steven Edouard</a></p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <p class="back-to-top"><a id="scroll-up" href="#">back to top</a></p>
          </div>
        </div>
        
      </div>
    </footer>
    <!-- END Site footer -->


    <!-- Scripts -->
    <script src="assets/js/app.min.js"></script>



    <!-- Skin switcher -->
    <!-- Manually link your desire skin after app.min.css -->
    <style type="text/css">
      .skins {
        position: fixed;
        top: 100px;
        left: -222px;
        transition: .3s ease-in-out;
      }

      .skins:hover {
        left: 0;
      }

      .skin-colors {
        list-style: none;
        padding: 20px;
        margin: 0;
        background-color: #fff;
        width: 222px;
        border: 1px solid #e7e7e7;
      }

      .skin-colors li {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 34px;
        cursor: pointer;
        margin: 4px;
        transition: .3s ease-in-out;
      }

      .skin-colors li:hover {
        opacity: .7;
      }

      .skin-colors li.active::before {
        content: "\f00c";
        font-family: FontAwesome;
        font-size: 20px;
        width: 34px;
        line-height: 34px;
        text-align: center;
        position: absolute;
        color: #fff;
      }

      .skin-toggler {
        position: absolute;
        display: inline-block;
        width: 50px;
        height: 50px;
        right: -49px;
        top: 0;
        background-color: #fff;
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        color: #888;
        border: 1px solid #e7e7e7;
        border-left: 0;
      }
    </style>

    <script type="text/javascript">
      $(function() {

        $("head").append('<link id="skin-css" rel="stylesheet">');

        $('.skin-colors li').on('click', function() {
          $('.skins li').removeClass('active');
          $(this).addClass('active');
          $('#skin-css').attr('href', 'assets/css/skin-'+ $(this).data('skin') +'.css');
        });

      });
    </script>

    <div class="skins">
      <ul class="skin-colors">
        <li data-skin="default" style="background-color: #f36" class="active"></li>
        <li data-skin="aqua" style="background-color: #1abac8"></li>
        <li data-skin="blue" style="background-color: #159eee"></li>
        <li data-skin="brown" style="background-color: #8d6658"></li>
        <li data-skin="gray" style="background-color: #b2b2b2"></li>
        <li data-skin="green" style="background-color: #1abc9c"></li>
        <li data-skin="orange" style="background-color: #ff8a00"></li>
        <li data-skin="pink" style="background-color: #e5356f"></li>
        <li data-skin="purple" style="background-color: #9e7dd3"></li>
        <li data-skin="red" style="background-color: #e54e53"></li>
        <li data-skin="teal" style="background-color: #3aa99e"></li>
        <li data-skin="yellow" style="background-color: #ffcd00"></li>
      </ul>

      <!-- <span class="skin-toggler"><i class="fa fa-cog"></i></span> -->
    </div>
    <!-- END Skin switcher -->



  </body>
</html>
